<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Bernie Sign-in Sheet</title>
<link rel="stylesheet" type="text/css" href="/Users/chrismott/dev/personal/b2020signin-sandbox/src/templates/style.css">
</head>
<body class="page">
  {{>Pages}}
</body>
</html>
